body {
    background-image: url("/src/components/portfolio/images/grey.jpg");
    background-blend-mode: soft-light;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255);
    background-repeat: no-repeat;
    
}

@keyframes gradient-nav {
    0%     { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); }
    10%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); }
    20%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); }
    30%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); }
    40%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)); }
    50%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)); }
    60%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.8)); }
    70%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1.0)); }
    80%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)); }
    90%    { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6)); }
    100%   { background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); }
}