.title {
        font-size: 3rem;
        margin-bottom: 50px;
        font-weight: bold;
        color: rgba(255, 255, 255);
        text-align: center;

}

.header {
        padding: 100px;
}

.header-text {
        display: flex;
        margin: 100px;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        color: rgba(255, 255, 255, 0.3);
        cursor: default;
}

.header-text h1 {
        margin-bottom: 10px;
        font-size: 5rem;
}

.header-text h1 span {
        transition: 0.5s;
}

.name {
        -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
        -webkit-animation: gradient-nav 1s ease-in-out infinite;
}

.header-text h1 span:hover {
        color: white;
        
}

.header-text h2 {
        font-size: 2.5rem;
        margin-bottom: 60px;
}

.header-text h2 span {
        transition: 0.5s;
}

.header-text h2 span:hover {
        color: white;
}

.header-button {
        display: flex;
        justify-content: center;
        margin-top: 120px;
}

.header-button a {
        position: relative;
        width: 320px;
        padding: 20px 10px 20px 10px;
        border-radius: 100px;
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        border-style: none;
        outline: none;
        box-shadow: black 3px 3px 3px 3px;
        transition: 0.5s;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
        font-size: 2rem;
        overflow: hidden;
}

.header-button a:hover {
        transform: scale(1.1);
        color: rgb(0, 0, 0);
}

.header-button a::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background:  linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25), transparent);
        transition: 0.3s;

}

.header-button a:hover::before{
        left: 100%;
}

.header-link {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
}

.header-link a {
        text-decoration: none;
        color: white;
        border-bottom: 3px solid white;
        font-size: 1.2rem;
}

.projects {
        background-color: rgba(255, 255, 255);
    }

.project {
        display: flex;
        padding: 50px;
}

.project-scroll {
        display: flex;
        justify-content: center;
        align-items: center;

}

.project-scroll a {
        color: white;
        font-size: 6rem;
        text-decoration: none;
}

.project button {
        cursor: pointer;
}

.project-text {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.project-text h1 {
        font-size: 4rem;
        border-bottom: 2px solid white;
        color: white;
        padding: 20px;
        margin-bottom: 400px;
}

.project-button {
        display: flex;
        justify-content: center;
        margin-top: 120px;
}

.project-button a {
        position: relative;
        width: 320px;
        padding: 20px 10px 20px 10px;
        border-radius: 100px;
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        border-style: none;
        outline: none;
        box-shadow: black 3px 3px 3px 3px;
        transition: 0.5s;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
        font-size: 2rem;
        overflow: hidden;
}

.project-button a:hover {
        transform: scale(1.1);
        color: rgb(0, 0, 0);
}

.project-button a::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background:  linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25), transparent);
        transition: 0.3s;

}

.project-button a:hover::before{
        left: 100%;
}

.img-1 {
        background-image: url("/src/images/crypto.jpg");
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: darken;
        background-size: cover;
        width: 100%;
        height: 900px;
}
    


.contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px;
}
    
.contact-area {
        margin: 0 100px 0 100px;
        display: flex;
}

.contact form {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 700px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px 20px 0 20px;
        color: rgb(255, 255, 255);
        box-shadow: black 5px 5px 5px 5px;
}

.form-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding: 30px 0 10px 0;
        border-bottom: 2px solid white;
}

.form-group {
        margin: 50px 10px 20px 10px;
        display: flex;
        flex-direction: column;
        height: 600px;

}
    
.form-group input {
        color: rgb(255, 255, 255);
        width: 100%;
        background-color: transparent;
        margin-top: 20px;
        padding: 0 5px;
        height: 40px;
        font-size: 1rem;
        border: none;
        outline: none;
}
    
.form-group textarea {
        color: rgb(255, 255, 255);
        background-color: transparent;
        margin-top: 20px;
        width: 100%;
        resize: none;
        padding: 5px 5px;
        height: 250px;
        font-size: 1rem;
        border: none;
        outline: none;
}

.form-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
}

.send {
        position: relative;
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        border: none;
        border-radius: 50px;
        color: rgba(0, 0, 0, 0.7);
        height: 60px;
        width: 60px;
        padding: 0 7px 0 0;
        text-decoration: none;
        font-size: 1.8rem;
        cursor: pointer;
        outline: none;
        box-shadow: black 2px 2px 2px 2px;
        transition: 0.5s;
        overflow: hidden;
}

.erase {
        position: relative;
        background-color: white;
        border: none;
        border-radius: 3px;
        color: rgba(0, 0, 0, 0.7);
        height: 40px;
        width: 40px;
        margin-top: 15px;
        margin-left: 5px;
        text-decoration: none;
        font-size: 1.5rem;
        cursor: pointer;
        outline: none;
        box-shadow: black 2px 2px 2px 2px;
        transition: 0.5s;
        overflow: hidden;
}

.form-buttons button:hover {
        transform: scale(1.1);
}

.send::before {
        content: "";
        position: absolute;
        top: 0;
        left: 200%;
        width: 250%;
        height: 100%;
        background:  linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.5), transparent);
        transition: 0.3s;
        transform: rotate(135deg);
}

.send:hover::before{
        left: -170%;
}

.profile {
        padding: 100px 20px 0 20px;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 2rem;
        width: 310px;
        display: flex;
        margin-left: 200px;
}

.profile-title {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 2px solid white;
}

.profile-media {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
}

.media-elements {
        display: flex;
}

.media-elements i {
        margin: 10px;
        color: white;
        text-decoration: none;
        font-size: 2.5rem; 
}

.media-elements span {
        margin-top: 10px;
}

.media-elements i:hover{
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: gradient-nav 0.7s ease-in-out infinite;
}

.about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px;
        background-color: white;
        color: rgba(0, 0, 0, 0.8);
}

.about-title {
        font-size: 3rem;
        margin-bottom: 50px;
        padding: 10px 0 10px 50px;
        font-weight: bold;
        color: rgba(0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0);
}
.about-text {
        font-size: 1.5rem;
        padding: 0 50px 50px 50px;
        color: rgba(0, 0, 0);
}
    
.about-text p {
        width: 50%;
        margin-bottom: 50px;
        font-weight: bold
}

.about-skills {
        display: flex;
        justify-content: space-evenly;
}

.about-skills a {
        position: relative;
        text-decoration: none;
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        color: rgba(0, 0, 0, 0.8);
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
        border-radius: 100px;
        height: 100px;
        width: 100px;
        padding: 10px;
        font-size: 4.5rem;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.9) 3px 3px 3px 3px;
        transition: 0.5s;
        overflow: hidden;
}

.no-icon {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 1.2rem;
}

.about-skills a:hover {
        color: rgb(0, 0, 0);
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.about-skills a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 200%;
        width: 200%;
        height: 100%;
        background:  linear-gradient(180deg, transparent, white, transparent);
        transition: 0.1s;
        transform: rotate(135deg);
}

.about-skills a:hover::before{
        left: -125%;
}

.footer {
        background-color: rgb(0, 0, 0);
        height: 180px;
        color: rgb(255, 255, 255);
}

.footer-copyright {
        font-size: 2rem;
        padding: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
}

@media screen and (max-width: 600px) {
        .title {
                padding: 10px 50px 10px 50px;
                text-align: center;
        }
        .header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px
        }
        .header-text {
                display: flex;
                margin: 150px 0 20px 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;
                color: rgba(255, 255, 255, 0.3);
                cursor: default;
        }
        .header-text h1 {
                margin-bottom: 10px;
                font-size: 3.8rem;
        } 
        .header-text h2 {
                font-size: 1.5rem;
                margin-bottom: 60px;
        }
        .header-button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: 120px;
        }
        .header-link {
                margin-top: 60px;
                margin-bottom: 100px;
        }
        .projects {
                background-color: rgba(255, 255, 255);
            }
        
        .project {
                display: flex;
                flex-direction: column;
                padding: 50px;
        }
        
        .project button {
                cursor: pointer;
        }
        
        .project-img {
                background-color: black;
                height: 200px;
                width: 100%;
        
        }
        .project-text {
                padding: 20px;
        }
        .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px
        }
        .contact form {
                width: 90%;
                height: 600px;
        }
        .contact-area {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
        }
        .form-group textarea{
                height: 160px;
        }
        .form-buttons {
                margin-bottom: 20px;
        }
        .profile {
                margin: 0;
                padding: 20px;
                color: white;
                font-size: 2rem;
                width: 80%;
        }
        .profile-title {
                margin: 50px 0 0 0;
                text-align: center;
                padding: 10px;
        }
        .profile-media {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 10px;
        }
        .media-elements i {
                font-size: 4rem;
                margin: 20px 10px 20px 10px;
        }
        .media-elements span {
               display: none;
        }
        .about {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;
        }
        .about-title {
                padding: 0;
                margin-top: 20px;
                text-align: center;
        }
        .about-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                font-size: 1rem;
                width: 100%;
                padding: 10px;
        }
        .about-text p {
                font-size: 1.3rem;
                width: 100%;
                margin-bottom: 30px;
        }
        .about-skills {
                margin-bottom: 50px;
                display: inline-block;
                text-align: center;
        }
        .about-skills a {
                height: 60px;
                width: 60px;
                padding: 10px;
                margin: 5px;
                font-size: 2.2rem;
                display: inline-block;
                color: black;
        }
        .no-icon {
                display: flex;
                justify-content: center;
                padding-top: 12px;
                font-size: 0.8rem;
        }
        .about-skills a::before {
                left: -170%;
                width: 300%;
        }
        .about-skills a:hover::before{
                left: -170%;
        }
        .footer-copyright {
                font-size: 1.5rem;
        }
}



