.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    color: #fff;
}
  
.coin-search {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.coin-text {
    margin-bottom: 32px;
    
}
  
.coin-input {
    padding-left: 16px;
    width: 160px;
    height: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    outline: none;
    z-index: 2;
    
}
  
.coin-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.coin-title-container {
    display: flex;
    height: 80px;
    border-bottom: 1px solid white;
    width: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    
  }

.coin-title {
    display: flex;
    width: 100%;
}

.coin-title h1 {
    padding-top: 30px;
    font-size: 20px;
}

.coin-name-title {
    text-align: center;
    width: 200px;
}

.coin-symbol-title {
    text-align: center;
    width: 80px;
}

.coin-price-title {
    text-align: center;
    width: 180px;
}

.coin-volume-title {
    text-align: center;
    width: 160px;
}

.coin-percent-title {
    text-align: center;
    width: 120px;
}

.coin-marketcap-title {
    text-align: center;
    width: 140px;
}


 