.title {
        font-size: 3rem;
        margin-bottom: 50px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
}

.header {
        background-image: url("/src/components/portfolio/images/white.jpg");
        background-blend-mode: soft-light;
        background-size: cover;
        background-attachment: fixed;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 100px;
}

.header-text {
        display: flex;
        margin: 100px;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        color: rgba(255, 255, 255, 0.3);
        cursor: default;
}

.header-text h1 {
        margin-bottom: 10px;
        font-size: 5rem;
        text-shadow: rgba(0, 0, 0, 0.8) 3px 3px 3px;
}

.header-text h1 span {
        transition: 0.5s;
}

.header-text h1 span:hover {
        color: rgb(0, 0, 0);
        
}

.header-text h2 {
        font-size: 3rem;
        margin-bottom: 60px;
        text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 3px;
}

.header-text h2 span {
        transition: 0.5s;
}

.header-text h2 span:hover {
        color: rgb(0, 0, 0);
}

.header-button {
        display: flex;
        justify-content: center;
        margin-top: 120px;
}

.header-button a {
        position: relative;
        width: 320px;
        padding: 20px 10px 20px 10px;
        border-radius: 100px;
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        border-style: none;
        outline: none;
        box-shadow: black 3px 3px 3px 3px;
        transition: 0.5s;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: rgba(0, 0, 0);
        font-size: 2rem;
        overflow: hidden;
}

.header-button a:hover {
        transform: scale(1.1);
}

.header-button a::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background:  linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25), transparent);
        transition: 0.3s;

}

.header-button a:hover::before{
        left: 100%;
}

.header-link {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
}

.header-link a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        border-bottom: 3px solid rgb(0, 0, 0);
        font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
        .title {
                padding: 10px 50px 10px 50px;
                text-align: center;
        }
        .header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px
        }
        .header-text {
                display: flex;
                margin: 150px 0 20px 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;
                color: rgba(255, 255, 255, 0.3);
                cursor: default;
        }
        .header-text h1 {
                margin-bottom: 10px;
                font-size: 3.8rem;
        } 
        .header-text h2 {
                font-size: 1.5rem;
                margin-bottom: 60px;
        }
        .header-button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: 120px;
        }
        .header-link {
                margin-top: 60px;
                margin-bottom: 100px;
        }
    }



